@import '~antd/es/style/themes/default.less';

.userinfocard {
  .cardactions {
    text-align: left;
    text-indent: 24px;
  }
}

.userinfoContentCard {
  padding-left: 300px;
  padding-right: 300px;
  height: 100vh;
}

.walletDialogContent {
  display: flex;
  justify-content: center;
  align-items: baseline;

  .walletDialogDesc {
    padding-left: 10px;
  }
}


.phoneDialogTip {
  padding: 0 0 20px 0;
}

.authenticationCard {
  padding: 30px 50px;

  .authenticationCardTip {
    line-height: 36px;
  }

  .authenticationCardTip2 {
    line-height: 36px;
    color: #E7A543;
  }

}

.authCardItem {
  .ant-pro-card-actions {
    border-top: 0;
  }
}

.errorTxt {
  color: #F57878;
}

.successTxt {
  color: #A6D88D;
}

.warnTxt {
  color: #E6A23C;
}
